estudo_poo/atividade_poo/.idea
.idea/
estudo_poo/.idea/workspace.xml

#estudo_poo/atividade_poo/__pycache__/
*.py[cod]
*$py.class
estudo_poo/Estrutura_Dados/fila_ED/main_queues.py
estudo_poo/Estrutura_Dados/fila_ED/queue.py


